.subscription-prices-flex {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.subscription-prices-container {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.subscription-prices-pricestyle {
  margin-left: auto;
  text-decoration: underline;
}
