.subscription-grid-container {
  display: grid;

  grid-template-columns: 0.6fr 0.75fr 2.2fr 0.75fr;
  grid-template-rows: 8.5fr 1.5fr;
  grid-template-areas:
    'menu settings active-modules economics-settings'
    'menu buttons buttons buttons';
  height: 100%;
}

.subscription-modules-grid {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    'subscription-modules-container'
    'prices-container';
  height: 100%;
}

input,
label {
  display: block;
}

.subscription-side-menu {
  grid-area: menu;
}

.subscription-content {
  grid-area: content;
}

.subscription-settings {
  grid-area: settings;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
}

.subscription-active-modules {
  grid-area: active-modules;
  margin-top: 20px;
  overflow: auto;
}

.subscription-modules-container {
  grid-area: subscription-modules-container;
  background-color: var(--grey-container);
  overflow: auto;
}

.prices-container {
  grid-area: prices-container;
  background-color: var(--grey-container);
  margin-top: 20px;
  overflow: auto;
}

.subscription-modules {
  grid-area: economics-settings;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.subscription-buttons {
  grid-area: buttons;
  background-color: var(--grey-container);
  margin: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.concurrentusers-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.concurrentusers-container div {
  display: inline-block;
  margin-top: 2vh;
}
.concurrentusers-container div input {
  width: 60px;
  text-align: center;
  font-size: x-large;
}

.billingperiod-container {
  margin-top: 20px;
}

.pricemultiplier-container {
  margin-top: 20px;
}

.checkbox-container input,
label {
  display: inline-block;
}

.checkbox-container label {
  vertical-align: top;
}

.currency-discount-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.currency-discount-container div {
  display: inline-block;
  margin-top: 20px;
}
.currency-discount-container div input {
  width: 10vh;
  text-align: center;
  font-size: x-large;
}

.subscription-info-popup {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
}

.subscription-paymentterms-container {
  margin-top: 20px;
}

.subscription-vatzones-container {
  margin-top: 20px;
}

.subscription-layouts-container {
  margin-top: 20px;
}

.subscription-vat-container {
  margin-top: 20px;
  width: 98%;
}

.subscription-loadingspinner {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -50px; /*Half of the height of the loading graphic*/
  margin-left: -50px;
}
