/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196);
  /*outline: 1px solid slategrey;*/
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}

:root {
  --green-button: #6bbb6e;
  --green-button-hover: #4e8d50;
  --red-button: #e45656;
  --red-button-hover: #b34040;
  --asa-blue: #009de0;
  --asa-blue-hover: #2b7fa3;
  --grey-container: rgb(235, 235, 235);
}

.App {
  height: 100%;
}

.main-grid-container {
  display: grid;
  grid-template-rows: 0.5fr 9.5fr;
  grid-template-areas:
    'navbar'
    'main-content';
  height: 100%;
}

.navbar {
  grid-area: navbar;
}

.main-content {
  grid-area: main-content;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.inputfield {
  width: 100%;
  height: 30px;
  background-color: var(--grey-container);
  border: 0;
  border-radius: 2px;
}

.dropdown {
  height: 32px;
  width: 100%;
  background-color: var(--grey-container);
  border: 0;
  border-radius: 2px;
}

.checkbox-container {
  display: inline-flex;
  margin-bottom: 5px;
}

.checkbox-container input {
  min-width: 20px;
  min-height: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-style > * {
  margin: 0px 20px;
  height: 40%;
  min-height: 40px;
  width: 10%;
  min-width: 125px;
}
