.select-enterprise-container {
  display: grid;
  grid-template-rows: 7fr 3fr;
  grid-template-areas:
    'select-enterprise-dropdown'
    'select-enterprise-buttons';
  background-color: #fff;
  height: 200px;
  width: 500px;
}

.select-enterprise-dropdown {
  grid-area: 'select-enterprise-dropdown';
  display: flex;
  justify-content: center;
}

.select-enterprise-dropdown select {
  margin-top: 5%;
  width: 50%;
}

.select-enterprise-buttons {
  grid-area: 'select-enterprise-buttons';
  display: flex;
  align-items: flex-end;
}

.save-selected-enterprise {
  height: 30px;
  width: 75px;
  margin: 10px;
  border-radius: 2px;
  border: 0;
  background-color: var(--green-button);
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-selected-enterprise:hover {
  cursor: pointer;
  background-color: var(--green-button-hover);
}

.undo-selected-enterprise {
  height: 30px;
  width: 75px;
  margin: 10px;
  border-radius: 2px;
  border: 0;
  background-color: var(--red-button);
  display: flex;
  align-items: center;
  justify-content: center;
}

.undo-selected-enterprise:hover {
  cursor: pointer;
  background-color: var(--red-button-hover);
}
