.save-button {
  display: flex;
  /*height: 40px;
  width: 150px;*/
  /*background-color: #6bbb6e;*/
  background-color: var(--green-button);
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 2px;
}

.save-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: var(--green-button) !important;
}

.save-button:hover {
  cursor: pointer;
  background-color: var(--green-button-hover);
}
