.moduletable {
  height: 100%;
  width: 100%;
}

.moduletable-loadingspinner {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  /*position: fixed;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -50px; /*Half of the height of the loading graphic
  margin-left: -50px;*/
}
