.samadmin-subscription-grid {
  display: grid;

  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 8.75fr 1.25fr;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'leftspace content rightspace'
    'leftspace buttons rightspace';
  overflow: auto;
}

.samadmin-subscription-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'settings modulecontainer';
  min-width: 600px;
  margin: 20px;
  margin-bottom: 0px;
}

.samadmin-subscription-settings {
  grid-area: settings;
  background-color: var(--grey-container);
  min-width: 150px;
  margin-right: 10px;
  text-align: center;
}

.samadmin-subscription-modules-grid {
  grid-area: modulecontainer;
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: 'modules' 'prices';
  margin-left: 10px;
}

.samadmin-subscription-modules {
  grid-area: modules;
  overflow: auto;
  background-color: var(--grey-container);
  margin-bottom: 10px;
}

.samadmin-subscription-prices {
  grid-area: prices;
  margin-top: 10px;
  min-height: 85px;
  background-color: var(--grey-container);
}

.samadmin-subscription-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  min-height: 65px;
  margin: 20px;
  align-items: center;
  background-color: var(--grey-container);
}

.samadmin-subscription-inputfield {
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  display: block;
  margin-right: 100px;
}

.samadmin-subscription-inputfield:disabled {
  opacity: 0.75;
  background-color: #ffffff;
}

.samadmin-subscription-ccusers-container {
  margin-right: 25px;
  margin-left: 25px;
}

.samadmin-loadsubscription-button {
  height: 35px;
  border: 0;
  width: 150px;
  background-color: var(--asa-blue);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.samadmin-loadsubscription-button:hover {
  cursor: pointer;
  background-color: var(--asa-blue-hover);
}

.samadmin-subscription-loadingspinner {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
