.invoice-grid-container {
  display: grid;
  grid-template-columns: 0.8fr 5.2fr;
  grid-template-areas: 'sidepanel content';
  height: 100%;
  width: 100%;
}

.invoice-sidepanel {
  grid-area: sidepanel;
}

.invoice-content {
  grid-area: content;
  padding: 20px;
  padding-right: 0px;
  overflow: auto;
}

.invoicelist-container {
  min-height: 100%;
  height: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: column;
}
