.topnav {
  background-color: var(--asa-blue);
  overflow: hidden;
  vertical-align: center;
  height: 100%;
}

.align-icon-left {
  float: left;
  display: block;
  padding: 5px 25px;
}

.topnav div:hover {
  background-color: var(--asa-blue-hover);
  color: black;
  cursor: pointer;
}

.align-icon-right {
  float: right;
  display: block;
  padding: 5px 25px;
}

.topmenu-center-button {
  height: 44px !important;
  display: flex;
  align-items: center;
}
