.delete-button {
  display: flex;
  /*height: 40px;
  width: 150px;*/
  background-color: var(--red-button);
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 0;
}

.delete-button:hover {
  cursor: pointer;
  background-color: var(--red-button-hover);
}

.delete-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: var(--red-button) !important;
}
