.invoiceitem-container {
  display: flex;
  align-items: center;
  height: 30px;
  /*padding-left: 10px;*/
  margin: 5px 10px;
  border-radius: 2px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 3px #ccc;
}

.invoiceitem-label {
  cursor: pointer;
  text-decoration: underline;
}
