.info-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--asa-blue);
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  height: 40px;
  width: 300px;
}

.info-popup-text {
  color: #fff;
  font-size: large;
}

.fadeOut {
  opacity: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
