.created-setting-container {
  display: flex;
  margin-left: 5px;
}

.created-setting-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.created-setting-delete-button:disabled {
  opacity: 0.5;
}
