.sidepanel-search {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 98.6%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
}
