.invoicelist {
  background-color: var(--grey-container);
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 5px;
}

.invoicelist-loadingspinner {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 999;
}
