.generate-multiple-invoices-button {
  display: flex;
  /*height: 40px;
      width: 150px;*/
  background-color: var(--asa-blue);
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 2px;
}

.generate-multiple-invoices-button:hover {
  cursor: pointer;
  background-color: var(--asa-blue-hover);
}

.generate-multiple-invoices-button:disabled {
  opacity: 50%;
  cursor: not-allowed !important;
  background-color: var(--asa-blue) !important;
}
