.add-button {
  display: flex;
  background-color: var(--asa-blue);
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.add-button:hover {
  cursor: pointer;
  background-color: var(--asa-blue-hover);
}

.add-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: var(--asa-blue) !important;
}
