.enterprise-grid-container {
  display: grid;

  grid-template-columns: 0.8fr 5.2fr;
  grid-template-areas: 'enterprise-menu enterprise-content';
  min-height: 100%;
}

input,
label {
  display: block;
}

.enterprise-side-menu {
  grid-area: enterprise-menu;
}

.enterprise-content {
  grid-area: enterprise-content;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.enterprise-no-name-container {
  display: inline-block;
}
.enterprise-no-name-container div {
  display: inline-block;
  margin-right: 50px;
}

.no-container {
  max-width: 150px;
  min-width: 150px;
}

.enterprise-name-container {
  width: 350px;
  min-width: 150px;
}

.enterprise-phone-invoiceemail-container {
  display: inline-block;
}

.enterprise-phone-invoiceemail-container div {
  display: inline-block;
  margin-right: 50px;
  margin-top: 20px;
}

.enterprise-phone-container {
  min-width: 150px;
  max-width: 150px;
}

.enterprise-invoiceemail-container {
  min-width: 150px;
  width: 350px;
}

.enterprise-address-container {
  margin-top: 20px;
  min-width: 150px;
  max-width: 550px;
}

.enterprise-zip-city-country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 550px;
}

.enterprise-zip-city-country-container div {
  width: 150px;
}

.enterprise-adminname-container {
  margin-top: 20px;
  max-width: 550px;
}

.enterprise-adminemail-container {
  margin-top: 20px;
  max-width: 550px;
}

/*.email-container {
  margin-top: 4vh;
  width: 625px;
}

.phone-container {
  margin-top: 4vh;
}

.phone-container input {
  width: 25vh;
}

.street-container {
  margin-top: 4vh;
  display: inline-block;
}

.streetno-container {
  display: inline-block;
  margin-left: 5vh;
}

.street-container input {
  width: 30vh;
}

.streetno-container input {
  width: 15vh;
}

.zip-container {
  display: inline-block;
  margin-left: 5vh;
}

.zip-container input {
  width: 15vh;
}

.city-container {
  margin-top: 4vh;
  display: inline-block;
}

.city-container input {
  width: 32.5vh;
}

.country-container {
  display: inline-block;
  margin-left: 5vh;
}

.country-container input {
  width: 32.5vh;
}

.adminname-container {
  margin-top: 4vh;
  display: inline-block;
}

.adminname-container input {
  width: 32.5vh;
}

.adminemail-container {
  margin-top: 4vh;
  margin-left: 5vh;
  display: inline-block;
}

.adminemail-container input {
  width: 32.5vh;
}

.view-subscription-button-container {
  margin-top: 4vh;
}

.view-subscription-button-container input {
  background-color: var(--asa-blue);
  border: 0;
  height: 4.1vh;
  width: 25vh;
  color: white;
  border-radius: 2px;
}

.view-subscription-button-container input:hover {
  background-color: var(--asa-blue-hover);
  cursor: pointer;
}*/
