.samadmin-invoices-grid {
  display: grid;

  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-template-areas: 'leftspace content rightspace';
  height: 100%;
  width: 100%;
}

.samadmin-invoices-leftspace {
  grid-area: leftspace;
}

.samadmin-invoices-rightspace {
  grid-area: rightspace;
}

.samadmin-invoices-content {
  grid-area: content;
  background-color: var(--grey-container);
  min-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}
