.new-setting-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    'setting-info'
    'setting-buttons';
  background-color: #fff;
  height: 150px;
  width: 400px;
}

.new-setting-info {
  grid-area: setting-info;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.new-setting-name-container input {
  margin-right: 20px;
  width: 150px;
}

.new-setting-type-container {
  width: 150px;
}

.new-setting-buttons {
  grid-area: setting-buttons;
  display: flex;
}

.save-new-modulesetting {
  height: 30px;
  width: 75px;
  margin: 10px;
  border-radius: 2px;
  border: 0;
  background-color: var(--green-button);
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-new-modulesetting:hover {
  cursor: pointer;
  background-color: var(--green-button-hover);
}

.undo-new-modulesetting {
  height: 30px;
  width: 75px;
  margin: 10px;
  border-radius: 2px;
  border: 0;
  background-color: var(--red-button);
  display: flex;
  align-items: center;
  justify-content: center;
}

.undo-new-modulesetting:hover {
  cursor: pointer;
  background-color: var(--red-button-hover);
}
