/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.modules-grid {
  display: grid;
  grid-template-columns: 0.8fr 5.2fr;
  grid-template-rows: 8.5fr 1.5fr;
  grid-template-areas:
    'sidepanel moduleinfo'
    'sidepanel buttons';
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.modules-sidepanel {
  grid-area: sidepanel;
  min-width: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modules-moduleinfo {
  grid-area: moduleinfo;
  padding: 20px;
  overflow: auto;
}

.modules-buttons {
  grid-area: buttons;
  background-color: var(--grey-container);
  min-height: 45px;
  margin: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.modules-input-name {
  width: 35%;
  min-width: 250px;
}

.topmargin-input {
  margin-top: 20px;
}

.modules-description-container label,
textarea {
  display: block;
}

.modules-input-description {
  width: 35%;
  min-width: 250px;
  min-height: 100px !important;
}

.modules-prices div {
  display: inline-block;
  margin-right: 50px;
}
.modules-prices div input {
  max-width: 196px !important;
  min-width: 196px;
}

.modules-dropdowns div {
  display: inline-block;
  margin-right: 50px;
}

label,
select {
  display: block;
}

.modules-dropdowns div select {
  width: 200px;
}

.modules-settings-required-container {
  margin-top: 0px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'settings required';
  max-width: 35%;
  height: auto;
}
.modules-requiredtable-container {
  grid-area: required;
  margin-left: 25px;
}

.modules-settingtable-container {
  grid-area: settings;
  margin-right: 25px;
}

.modules-settings-container {
  background-color: var(--grey-container);
  width: 100%;
  min-height: 100%;
}

.modules-requiredmodules-container {
  background-color: var(--grey-container);
  width: 100%;
  min-height: 100%;
}

.modules-info-popup {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
}

.modules-settingtable-header {
  display: flex;
  align-items: center;
}

.modules-settingtable-header button {
  margin-right: 5px;
}

.modules-economics-dropdowns div {
  display: inline-block;
  margin-right: 50px;
}

.modules-economics-productgroup-container {
  width: 200px;
}

.modules-economics-productid-container {
  width: 200px;
}

.modules-economics-unit-container {
  width: 200px;
}

.modules-loadingspinner {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px; /*Half of the height of the loading graphic*/
  margin-left: -50px;
}
