.edit-button {
  display: flex;
  /*height: 40px;
  width: 150px;*/
  background-color: var(--asa-blue);
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 2px;
}

.edit-button:hover {
  cursor: pointer;
  background-color: var(--asa-blue-hover);
}

.edit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: var(--asa-blue) !important;
}
