.first-time-price-container {
  display: flex;
  align-items: center;
  height: 25px;
  padding-left: 10px;
  margin: 5px 10px 5px 75px;
  border-radius: 2px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 3px #ccc;
}

.first-time-price-price {
  margin-left: auto;
  margin-right: 10px;
}
