.sidepanel-menuitem {
  height: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 10px;
}
.sidepanel-menuitem:hover {
  background-color: #b3dced;
  cursor: pointer;
}

.active {
  background-color: #b3dced;
}
