.subscription-module-container {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  margin: 5px 10px;
  border-radius: 2px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 3px #ccc;
}

.subscription-module-title-container {
  margin-left: 10px;
}

.subscription-module-checkbox {
  width: 20px;
  height: 20px;
}

.subscription-module-price-container {
  margin-left: auto;
  margin-right: 10px;
}

.subscription-setting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
}
.subscription-setting-container input {
  height: 25px;
  width: 40px;
  margin-left: 5px;
  text-align: center;
}
