.login-container {
  background-color: white;
  height: 350px;
  width: 650px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.login-header {
  text-align: center;
}

.input-container {
  margin-top: 35px;
  text-align: center;
}

.login-input {
  height: 40px;
  width: 550px;
  margin: 15px 15px 15px 50px;
  background-color: var(--grey-container);
  border: 0;
  border-radius: 2px;
}

.login-button {
  position: absolute;
  bottom: 0px;
  height: 50px;
  border: 0;
  background-color: var(--asa-blue);
  width: 100%;
  color: white;
  font-size: x-large;
}

.login-button:hover {
  cursor: pointer;
  background-color: var(--asa-blue-hover);
}

.login-error-msg {
  color: red;
}

.login-loadingspinner {
  width: 100%;
  display: flex;
  justify-content: center;
}
